.header {
  margin-top: 0.5rem;
  padding-left: 10px;
  margin-bottom: 0.5rem;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.header ul {
  margin-bottom: 0;
}

.header ul li:hover {
  background-color: #444;
}

.header p:hover {
  text-decoration: none;
}

.header p {
  cursor: pointer;
  margin-bottom: 0;
}

.header h3 a {
  color: white;
  text-decoration: none;
}

.header h3 a:hover {
  color: #00bc8c;
  text-decoration: none;
}

.header p {
  color: #00bc8c;
}

.header button {
  height: 2.2rem;
  margin: auto 0;
}
